<!DOCTYPE html>
<html>
<head>
	<title>Jimmy | Coding Work</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
</head>
<body>
	<header>
		<h1 style='font-size: 22px'>Worksheets</h1>
	</header>

	<main>
		<p>1. <a href="/chooseMe">Choose Me</a></p>
		<p>2. <a href="/randomColor">Random Color</a></p>
		<p>3. <a href="/paintBoard">Paint Board</a></p>
		<p>4. <a href="">Color Pixel</a></p>

	</main>

	<footer>
		
	</footer>
</body>
</html>