<!DOCTYPE html>
<html>
  <head>
    <title>Paint Board</title>
    <link rel='stylesheet' href='/stylesheets/paintBoard.css' />
    <script type="text/javascript" href='/javascript/main.js'></script>
  </head>
  <body>
    <h1>Pick a color you like!</h1>
  	</header>
  	<main>
      <div id="container">
        <div id='color_plate'>
          <div class="color" id="red">red</div>
          <div class="color" id="yellow">yellow</div>
          <div class="color" id="blue">blue</div>
          <div class="color" id="white">white</div>
        </div>
        <div id="painting">
          <div id='row_1'></div>
            <div class="row" id="row_1_box_1"></div>
            <div class="row" id="row_1_box_2"></div>
            <div class="row" id="row_1_box_3"></div>
            <div class="row" id="row_1_box_4"></div>
          <div id='row_2'></div>
            <div class="row" id="row_2_box_1">3</div>
            <div class="row" id="row_2_box_2"></div>
            <div class="row" id="row_2_box_3"></div>
            <div class="row" id="row_2_box_4"></div>
          <div id='row_3'></div>
            <div class="row" id="row_3_box_1"></div>
            <div class="row" id="row_3_box_2"></div>
            <div class="row" id="row_3_box_3"></div>
            <div class="row" id="row_3_box_4"></div>
          <div id='row_4'></div>
            <div class="row" id="row_4_box_1"></div>
            <div class="row" id="row_4_box_2"></div>
            <div class="row" id="row_4_box_3"></div>
            <div class="row" id="row_4_box_4"></div>
        </div>  
      </div>
  	</main>

  	<footer>
  		
  	</footer>
  </body>
</html>
