<!DOCTYPE html>
<html>
  <head>
  	<title>Choose Me</title>
  	<!-- packages addin -->
	<link rel='stylesheet' href='../stylesheets/chooseMe.css' />
<!-- 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
    <style>
		html{ 
		  background: url(/images/maze.jpg) no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		}
	</style>
  </head>
  <body>
  	<header>
	  	<div style="opacity: 1.0;">
		  	<h1 style="font-size: 32px;">Hello bravery, you have ran into an amazing maze.</h1>
		    	<p style="font-size: 18px;">You have got the second stage will you <span class="die">succeed?? </span>.</p>
	    </div>
    </header>
    <main>
    	<!-- Create three doors gave random numbers, sumup to deside escape or not -->
	    <div>
	    	<a href="/chooseMe/plus2"><img src="/images/door1.jpg" class='path'></a>
			<a href="/chooseMe/minus1"><img src="/images/door2.jpg" class='path'></a>
			<a href="/chooseMe"><img src="/images/door3.jpg" class='path'></a>
	    </div>
    </main>
    <footer>
    	<p class="copyright text-right" style="text-align: right; font-size: 12px; color: #FFF;">&copy; <a href="http://weijchen.github.io/blog/">JimmyC</a></p>
    </footer>
  </body>
</html>


<!-- <title><%= title %></title> -->